{% extends "global/Page.html" %}

{% block title %}You're done!{% endblock %}

{% block content %}
Thank you for participating in our experiment. After all players have finished, we will calculate the payouts
<br> and give rewards to the top three scoring players
{% endblock %}


{% block content %}
<h1>Final Results</h1>
<table>
    <tr>
        <th>Participant ID</th>
        <th>Cumulative Payoff</th>
    </tr>
    {% for participant in participants_data %}
    <tr {% if forloop.counter0 < 3 %} style="font-weight: bold;" {% endif %}>
        <td>{{ participant.label }}</td>
        <td>{{ participant.cumulative_payoff }}</td>
    </tr>
    {% endfor %}
</table><br>

<p> Thank you for participating in our experiment! After all players have finished, <br>
    we will calculate the payouts and give rewards to the top three scoring players. <br>
    <br>
    You may now close this window. Alternatively, you can wait around to see the other <br>
    participants' scores as they finish.</p>
<script type="text/javascript">
    setTimeout(function(){
        location.reload();
    }, 5000); // Refresh the page every 5 seconds
</script>
{% endblock %}