{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<p xmlns="http://www.w3.org/1999/html">
<div>
    <p>Welcome</p>
</div>
    <style>
    p{
    font-size: 1.6em;
    text-align: center;
    }
    </style>

{% endblock %}

{% block content %}

<p xmlns="http://www.w3.org/1999/html">
<div>

    <span>A game created by Cold Stone Creamery Gmbh</span>
</div>
<style>
        html {
  font-size: 100%;
  text-align: center;
}
span {
  font-size: 1.6em;
}
</style>
<p>
    rules
</p>

<p>
    how it works
</p>

<p>
    You and the other participants will be divided into groups of two. Each group will play several rounds of a game
    where each turn you are able to take or pass. If you take the game ends, and you receive the payoffs listed for that
    turn of the game. However, if you pass, the other player then has the option to take or pass it back to you. Each
    time the game is passed, the possible payout increases.
</p>
<p>Beware: there are two different sized payoff piles. One
    large and one small. When it is your turn, the payoff you receive will always be the large pile while your partner
    receives the small pile. If it is your partners turn, then you will receive the smaller pile while they receive
    the large pile. Please make sure to pay attention to the payoffs each round.
</p>

<p>

</p>

    {% next_button %}

{% endblock %}